
<div class="bg">


</div>

  <main class="form-signin">
    
      <h1 class="h3">Quadronics Xrent Test</h1>
        <div  [hidden]="submitted">
        <form [formGroup]="profileForm" action="">


        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="yourtext" required>
            <label for="floatingInput">Your text: </label>
        </div>

        <button class="w-100 btn btn-lg" type="submit" (click)="onSubmit()" [disabled]="!profileForm.valid">Submit</button>
        </form>
    </div>
    <div [hidden]="!submitted">
      <h1><p>{{ name.value }}</p></h1>
      <form action="">
      <button class="w-100 btn btn-lg" type="submit" (click)="goBack()">Back</button>
    </form>
